html, body, main {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
  overflow: hidden
}

* {
  box-sizing: border-box;
}

#map {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  /* z-index: 1000 !important; */
  left: 0;
  right: 0;
  margin: 0;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden
}

#dashboard {
  position: fixed;
  float: left;
  width: 100%;
  top: 30%;
  margin:50px auto;
  z-index: 1000;
}

#sidebar {
  position: fixed;
  width: 30%;
  height: auto;
  top: 1%;
  left: .5%;
  z-index: 1000;
  background: #343a40;
  color: white;
  opacity: .8;
  padding: 40px 15px 20px 15px;
}

#sidebar .result p {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Oswald', sans-serif;
}

#title {
  margin-bottom: 20px;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
}

#title span {
  font-size: 14px;
  float: right;
}

#subTitle {
  margin-bottom: 30px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#instruct {
  margin-bottom: 15px;
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#sidebar a {
  color: white;
}

#sidebar a:hover {
  color: white;
  opacity: 0.3;
}

#projName {
  text-align: center;
}

.tick text {
  text-align: justify;
  transform: rotate(45deg);
}

span {
  margin-right: 10px
}

.leg {
  line-height: 16px;
  width: 140px;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 8px;
  background: white;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.leg i {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}

.leg img {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  float: left;
}

.leg p {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

/* dashboard */
  path {
    stroke: #fff;
  }

  path:hover {
    opacity: 0.9;
  }

  rect:hover {
    fill: blue;
  }

  .axis {
    font: 10px sans-serif;
  }

  .legend tr {
    border-bottom: 1px solid grey;
  }

  .legend tr:first-child {
    border-top: 1px solid grey;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .legend {
    display: inline-block;
  }

  .legend td {
    padding: 4px 5px;
    vertical-align: bottom;
  }

  .legendFreq,
  .legendPerc {
    align: right;
    width: 50px;
  }

  .tick text {
    text-align: justify;
    transform: rotate(45deg);
  }
